canvas {
  width: 700px;
  height: 700px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  margin-bottom: 20px;
}

.controls input {
  margin-bottom: 20px;
  width: 30%;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls__colors {
  display: flex;
}

.controls .controls__btns {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
}

.controls__btns button {
  text-align: center;
  border: none;
  cursor: pointer;
  padding: 5px 0;
  width: 80px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.controls__colors .controls__color {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
